/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    /* font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal; */
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    margin: 0;
    padding: 0;
}

html, body{
    background-color: #EEF2FF;
    height: 100vh;
    width: 100vw;
}

/* -------------- nav ------------- */

nav{
    padding: 20px;
    margin: 0;
    background-color: #102442;
    color: white;
}

.logo-container{
    display: flex;
    align-items: center;
    font-size: 25px;
}

.img-container{
    margin-right: 10px;
    display: flex;
    height: 60px;
    width: 60px;
    background-image: linear-gradient(to right, #3459E9 25%, #324076 90%);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

img{
    position: relative;
    height: 40px;
    width: 40px;
}

section{
    display: block;
    text-align: center;
}

section h2{
    margin-top: 6em;
    margin-bottom: 6em;
    font-size: xx-large;
}

h2 span{
    background: linear-gradient(to right, #3459E9, #324076);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.button-container{
    margin-top: 20px;
    height: 10px;
    display: flex;
    justify-content: center;
}

.button-container button{
    height: 60px;
    width: 240px;
    font-size: large;
    outline: none;
    border: none;
    background: linear-gradient(to right, #3459E9 25%, #324076 90%);
    color: white;
    border-radius: 10px;
}

.button-container button:hover{
    opacity: 70%;
    cursor: pointer;
}

/* -------------- modal login ------------- */


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */

    background-color: rgba(0, 0, 0, 0.705); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 20%;
    height: 30%;
    border-radius: 10px;
}

.login-form input{
    margin-top: 15px;
    height: 40px;
    width: 95%;
    padding-left: 4%;
}

.login-form h3{
    margin-top: 7px;
}

.button-container-login{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button-container-login button{
    height: 40px;
    width: 160px;
    font-size: 15px;
    outline: none;
    border: none;
    background: linear-gradient(to right, #3459E9 25%, #324076 90%);
    color: white;
    border-radius: 10px;
}

.button-container-login button:hover{
    opacity: 70%;
    cursor: pointer;
}


/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;

}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}